<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzrd.dao.DesiredSupplyInfoDao">
	
	<insert id="addDesiredSupplyInfo" parameterType="com.mzrd.pojo.DesiredSupplyInfo">
		insert into desired_supply_info (deid,sid) 
		values(#{deid},#{sid});
	</insert>
	<delete id="deleteDesiredSupply" parameterType="java.lang.Integer">
		delete from desired_supply_info  where deid=#{deid}
	</delete> 
</mapper>