<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzrd.dao.QuoteInfoDao">
	<resultMap type="com.mzrd.pojo.QuoteInfo" id="getMap">
		<id property="qid" column="qid" />
		<result property="deid" column="deid" />
		<result property="unit" column="unit"/>
		<result property="number" column="number"/>
		<result property="sid" column="sid" />
		<result property="price" column="price" />
		<result property="quoteImage" column="quoteImage" />
		<result property="quoteDate" column="quoteDate" />
		<result property="remark" column="remark"/>
		<result property="state" column="st" />
		<association property="supplyRankInfo" javaType="com.mzrd.pojo.SupplyRankInfo">
			<id property="srid" column="srid" />
			<result property="srname" column="srname" />
		</association>
		<association property="supplyAccountInfo" javaType="com.mzrd.pojo.SupplyAccountInfo">
			<id property="sid" column="sida" />
			<result property="userName" column="userName" />
			<result property="supplierName" column="supplierName" />
			<result property="abbreviation" column="abbreviation" />
			<result property="address" column="address" />
			<result property="phone" column="phone" />
			<result property="contact" column="contact" />
			<result property="email" column="email" />
			<result property="state" column="sta" />
		</association>
	</resultMap>
	<insert id="addQuoteInfo" parameterType="com.mzrd.pojo.QuoteInfo">
		insert into quote_info(deid,number,unit,sid,price,remark,state,quoteDate,quoteImage) 
		VALUES(#{deid},#{number},#{unit},#{sid},#{price},#{remark},#{state},#{quoteDate},#{quoteImage})
	</insert>
	<!-- public List<QuoteInfo> getAllQuoteList(QuoteInfo qi); -->
	<select id="getAllQuoteList" parameterType="com.mzrd.pojo.QuoteInfo"
		resultMap="getMap">
	  	select s.*,q.*,sa.*, q.state st,sa.state sta,sa.sid sida from quote_info q, desired_info d,supply_rank_info s,supply_account_info sa where
	  	 q.deid=d.deid and s.srid=d.srid and sa.sid=q.sid and d.deid=#{deid} and q.state=1
	</select>
	<select id="getQuoteInfo" parameterType="com.mzrd.pojo.QuoteInfo"
	resultType="com.mzrd.pojo.QuoteInfo">
		select * from quote_info where deid = #{deid}
	</select>
	
	<select id="getQuoteList" parameterType="com.mzrd.pojo.QuoteInfo"
		resultMap="getMap">
	  	select s.*,q.*,q.state st from quote_info q, desired_info d,supply_rank_info s where
	  	 q.deid=d.deid and s.srid=d.srid 
			and q.sid=#{sid}
		<if test="srid!=null and srid!=''">
			and s.srid=#{srid}
		</if>
		<if test="state!=null and state!=''">
			and q.state=#{state}
		</if>
		ORDER BY q.qid DESC  
		<if test="start != null and limit != null">
		  limit #{start},#{limit}
		</if>
	</select>
	<delete id="deleteQuoteInfo" parameterType="com.mzrd.pojo.QuoteInfo">
		delete from quote_info WHERE qid=#{qid}
	</delete>
	<update id="updateQuoteInfo" parameterType="com.mzrd.pojo.QuoteInfo">
	update  quote_info set price=#{price},number=#{number},unit=#{unit},remark=#{remark},quoteDate=#{quoteDate},
		state=#{state}
		<if test="quoteImage!=null and quoteImage!=''">
			,quoteImage=#{quoteImage}
		</if>
		where qid=#{qid}
	</update>
</mapper>